
body {
    background: linear-gradient(to right, #0f2027, #491a62, #1b0118);
    font-family: 'Poppins', sans-serif;
}

#form {
    transition: transform .4s ease;
    width: 400px;
    margin: 20vh auto 0 auto;
    padding: 20px;
 
    border-radius: 10px;
    font-size: 15px;
    background-color: rgba(255, 255, 255, 0.3);
}

#form h1 {
    color: #0f2027;
    text-align: center;
}



#form button {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    color: white;
    background-color: rgb(138, 5, 182);
    border: none;
    border-radius: 50px;
}

.input-control {
    display: flex;
    flex-direction: column;

}

.input-control input {
    border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-size: 12px;
	padding: 10px;
	width: 100%;
    background-color: #f5f5f5;
}

.input-control input:focus {
    outline: 0;
}

.input-control.success input {
    border-color: #09c372;
}

.input-control.error input {
    border-color: #ff3860;
}

.input-control .error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
}

.lala{
    transition: transform .3s ease;
}

#form button:hover{
    background-color: black;
}

#form h1:hover{
    transform: scale(1.1) ;

}

#form:hover{
    transform: scale3d(1.1,1.2,1.1);
}